<div class="toolbar" role="banner">
  <a mat-icon-button *ngIf="!isAuthenticated">
    <mat-icon>view_sidebar</mat-icon>
  </a>
  <a mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="isAuthenticated">
    <mat-icon>view_sidebar</mat-icon>
  </a>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-name="name">
      <a mat-menu-item *ngFor="let m of menus" (click)="menuClick(m)">{{ 'main.menus.' + m | translate }}</a>
    </ng-template>
  </mat-menu>
  <span>{{title}} <i *ngIf="isAuthenticated">- {{user.fullName}}</i></span>
    <div class="spacer"></div>
    <mat-menu #appRightMenu="matMenu">
      <ng-template matMenuContent let-name="name">
        <a mat-menu-item (click)="menuClick('profile')">{{ 'main.profile' | translate }}</a>
        <a mat-menu-item (click)="onLogOut()">{{ 'main.logout' | translate }}</a>
      </ng-template>
    </mat-menu>
    <a mat-icon-button [matMenuTriggerFor]="appRightMenu" [matMenuTriggerData]="{name: user.fullName}" *ngIf="isAuthenticated">
      <mat-icon>more_vert</mat-icon>
    </a>
</div>
