.content {
  display: flex;
  margin: 32px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  margin: 32px auto 32px;
  padding: 0 16px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
