.cal-week-view * {
  box-sizing: border-box
}

.cal-week-view .cal-day-headers {
  display: flex;
  padding-left: 70px;
  border: 1px solid
}

.cal-week-view .cal-day-headers .cal-header {
  flex: 1;
  text-align: center;
  padding: 5px
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right: 1px solid
}

.cal-week-view .cal-day-headers .cal-header:first-child {
  border-left: 1px solid
}

.cal-week-view .cal-day-headers span {
  font-weight: 400;
  opacity: .5
}

.cal-week-view .cal-day-column {
  flex-grow: 1;
  border-left: 1px solid
}

.cal-week-view .cal-event {
  font-size: 12px;
  border: 1px solid
}

.cal-week-view .cal-time-label-column {
  width: 70px;
  height: 100%
}

.cal-week-view .cal-current-time-marker {
  position: absolute;
  width: 100%;
  height: 2px;
  z-index: 2
}

.cal-week-view .cal-all-day-events {
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 0;
  border-bottom: 3px solid;
  padding-top: 3px;
  position: relative
}

.cal-week-view .cal-all-day-events .cal-day-columns {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 0
}

.cal-week-view .cal-all-day-events .cal-events-row {
  position: relative;
  height: 31px;
  margin-left: 70px
}

.cal-week-view .cal-all-day-events .cal-event-container {
  display: inline-block;
  position: absolute
}

.cal-week-view .cal-all-day-events .cal-event-container.resize-active {
  z-index: 1;
  pointer-events: none
}

.cal-week-view .cal-all-day-events .cal-event {
  padding: 0 5px;
  margin-left: 2px;
  margin-right: 2px;
  height: 28px;
  line-height: 28px
}

.cal-week-view .cal-all-day-events .cal-starts-within-week .cal-event {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

.cal-week-view .cal-all-day-events .cal-ends-within-week .cal-event {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

.cal-week-view .cal-all-day-events .cal-time-label-column {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px
}

.cal-week-view .cal-all-day-events .cal-resize-handle {
  width: 6px;
  height: 100%;
  cursor: col-resize;
  position: absolute;
  top: 0
}

.cal-week-view .cal-all-day-events .cal-resize-handle.cal-resize-handle-after-end {
  right: 0
}

.cal-week-view .cal-event,.cal-week-view .cal-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.cal-week-view .cal-drag-active {
  pointer-events: none;
  z-index: 1
}

.cal-week-view .cal-drag-active * {
  pointer-events: none
}

.cal-week-view .cal-time-events {
  position: relative;
  border: 1px solid;
  border-top: 0;
  display: flex
}

.cal-week-view .cal-time-events .cal-day-columns {
  display: flex;
  flex-grow: 1
}

.cal-week-view .cal-time-events .cal-day-column,.cal-week-view .cal-time-events .cal-events-container {
  position: relative
}

.cal-week-view .cal-time-events .cal-event-container {
  position: absolute;
  z-index: 1
}

.cal-week-view .cal-time-events .cal-event {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  padding: 0 5px;
  line-height: 25px
}

.cal-week-view .cal-time-events .cal-resize-handle {
  width: 100%;
  height: 4px;
  cursor: row-resize;
  position: absolute
}

.cal-week-view .cal-time-events .cal-resize-handle.cal-resize-handle-after-end {
  bottom: 0
}

.cal-week-view .cal-hour-segment {
  position: relative
}

.cal-week-view .cal-hour-segment:after {
  content: "\00a0"
}

.cal-week-view .cal-event-container:not(.cal-draggable) {
  cursor: pointer
}

.cal-week-view .cal-draggable {
  cursor: move
}

.cal-week-view .cal-hour-segment,.cal-week-view mwl-calendar-week-view-hour-segment {
  display: block
}

.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment,.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment {
  border-bottom: thin dashed
}

.cal-week-view .cal-time {
  font-weight: 700;
  padding-top: 5px;
  width: 70px;
  text-align: center
}

.cal-week-view .cal-hour-segment.cal-after-hour-start .cal-time {
  display: none
}

.cal-week-view .cal-starts-within-day .cal-event {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}

.cal-week-view .cal-ends-within-day .cal-event {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px
}

.cal-week-view {
  background-color: #fff;
  border-top: 1px solid #e1e1e1
}

.cal-week-view .cal-day-headers {
  border-color: #e1e1e1;
  border-top: 0
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-right-color: #e1e1e1
}

.cal-week-view .cal-day-headers .cal-header:first-child {
  border-left-color: #e1e1e1
}

.cal-week-view .cal-day-headers .cal-drag-over,.cal-week-view .cal-day-headers .cal-header:hover {
  background-color: #ededed
}

.cal-week-view .cal-day-column {
  border-left-color: #e1e1e1
}

.cal-week-view .cal-event {
  background-color: #d1e8ff;
  border-color: #1e90ff;
  color: #1e90ff
}

.cal-week-view .cal-all-day-events {
  border-color: #e1e1e1
}

.cal-week-view .cal-header.cal-today {
  background-color: #e8fde7
}

.cal-week-view .cal-header.cal-weekend span {
  color: #8b0000
}

.cal-week-view .cal-time-events {
  border-color: #e1e1e1
}

.cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
  background-color: #ededed
}

.cal-week-view .cal-hour-odd {
  background-color: #fafafa
}

.cal-week-view .cal-drag-over .cal-hour-segment {
  background-color: #ededed
}

.cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment,.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment {
  border-bottom-color: #e1e1e1
}

.cal-week-view .cal-current-time-marker {
  background-color: #ea4334
}


.cal-day-view mwl-calendar-week-view-header {
  display: none
}

.cal-day-view .cal-events-container {
  margin-left: 70px
}

.cal-day-view .cal-day-column {
  border-left: 0
}

.cal-day-view .cal-current-time-marker {
  margin-left: 70px;
  width: calc(100% - 70px)
}
