<div role="grid" class="cal-week-view cal-day-view">
  <div role="row" class="cal-day-headers">
    <div mwldroppable="" dragoverclass="cal-drag-over" tabindex="0" role="columnheader" class="cal-header cal-past cal-weekend">
      <b>{{viewDate | formatDate: 'ddd'}}</b><br>
      <span>{{viewDate | formatDate: 'MMM DD YYYY'}}</span>
    </div>
  </div>
  <div mwldroppable="" class="cal-time-events">
    <div class="cal-day-columns">
      <div class="cal-day-column">
        <div class="cal-events-container">
          <!---->
        </div>
        <div class="cal-hour"  *ngFor="let h of getHours(viewDate)">
          <div class="cal-hour-segment cal-hour-start" aria-hidden="true" style="height: 30px;">
            <div class="cal-time">
              {{h | formatDate: 'hh A'}}
            </div>
          </div>
          <div class="cal-hour-segment cal-after-hour-start" aria-hidden="true" style="height: 30px;">
            <div class="cal-time">
              {{h | formatDate: 'hh A'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
